<footer class="footer">
  <small>
   Sistema de Stock elaborado por <a href="http://facebook.com/pedrodamiangv" class="btn-link">Pedro González</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   '#', class: "btn-link" %></li>
      <li><%= link_to "Contacto", '#', class: "btn-link" %></li>
      <li><a href="#">Novedades</a></li>
    </ul>
  </nav>
</footer>